html {
  font-size: 16px;
}

* {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  margin-left: 1.5rem;
  display: flex;
}

p {
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo span {
  font-weight: bold;
  font-size: 1.5rem;
}

nav.desktop {
  display: flex;
}

.nav-mobile {
 display: none;
}

nav.desktop ul li{
  display: inline;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover{
  text-decoration: underline;
  color: #104E8B;
  font-weight: bold;
}

#general {
  max-width: 75rem;
  display: block;
  margin: auto;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
}

.jumbotron-image {
  width: 60%;
}

.lg-image {
  width: 100%;
  margin: 2rem 0 2rem 1.5rem;
}

.lg-image img {
  width: 100%;
}

.jmb-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  padding-left: 4rem;
}

.info {
  width: 100%;
  margin-right: 2rem;
}

.button {
  background-color: #104E8B;
  border: none;
  color: white;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 1.5rem;
  font-size: 1.45rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.button:hover {
  background-color: #003F87;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
  box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
}

.main-container {
  display: flex;
  border-bottom: solid 1px #e0e0e0;
  margin-top: 2rem;
}

.main-story {
  flex-direction: row;
  width: 60%;
  padding: 0rem 0 2rem 1.5rem;
}

.main-image {
  width: 100%;
}

.main-image img {
  width: 100%;
  padding-top: 1rem;
}

.information .big-desc {
  margin-top: 1.5rem;
  font-size: 1.15rem;
}

.information span {
  font-size: 0.75rem;
}

.side-story {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 40%;
}

.story {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: solid 1px #E0E0E0;
}

.story:hover {
background-color: #E0E0E0;
}

.sm-image {
  width: 35%;
  margin: 1rem 1rem 1rem 1rem;
  height: auto;
  overflow: hidden;
}

.sm-image img {
  width: 100%;
}

.story .description {
  width: 65%;
  padding-right: 1rem;
}

.description a{
  text-decoration: none;
  font-weight: bold;
}

.description a:hover{
  text-decoration: underline;
}

.learn {
  background-color: #e0e0e0;
}

.title {
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.container-learn {
  display: flex;
  flex-direction: row;
  padding: 0 4.5rem 2rem 4.5rem;
}

.course-categories-desktop {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.course {
  background-color: white;
  width: 30%;
  flex-direction: row;
  margin-top: 1.5rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
  box-shadow: 0px 5px 10px 0px rgba(158,158,158,1);
}

.course .md-image img {
  width: 100%;
}

.details {
  padding: 1rem;
}

.course-categories-mobile {
  display: none;
}

.video {
  width: 100%;
  overflow: hidden;
}

.video video {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.footer span {
  margin-left: 1.5rem;
}
