html {
  font-size: 16px;
}

* {
  font-family: "Raleway", sans-serif;
}

div {
  border: 1px solid black;
}

header {
  width: 100%;
}

.logo {
  display: inline-block;
}

nav.desktop {
  display: inline-block;
}

.nav-mobile {
 display: none;
}

nav.desktop ul li{
  display: inline;
  color: black;
}

#general {
  max-width: 75rem;
  display: block;
  margin: auto;
}

.button {
  background-color: #303030;
  border: none;
  color: white;
  padding: 0.5rem 0.5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
}

.lg-image {
  width: 60%;
  margin: 2rem 0 2rem 1.5rem;
}

.lg-image img {
  width: 100%;
}

.jumbotron .information {
  width: 30%;
  margin-left: 1.5rem;
}

.main-container {
  display: flex;
  background-color:
}

.main-story {
  flex-direction: row;
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: #E0E0E0;
  width: 60%;
}

.main-container .main-story .lg-image {
  background-image: url("images/information-main.jpg");
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.information p {
  margin-top: 1.5rem;
}
.information span {
  font-size: 0.75rem;
}

.side-story {
  display: flex;
  flex-direction: column;
}

.story {
  display: flex;
  flex-direction: row;
}

.sm-image {
  width: 35%;
  overflow: hidden;
}

.container-learn {
  display: flex;
  flex-direction: row;
}

.title {

}

.top-row {
  flex-direction: row;
}

.course {
  flex-direction: row;
}

.course-categories-mobile {
  display: none;
}

.video {
  position: relative;
  height: 0;
  overflow: hidden;
}
